@media only screen and (max-width: 600px) {
    .sidebar{
        background-color: #424954;
        height:100%;
        width:100%;
        border:1px solid black;
        justify-content:center;
    }
   .navitems{
       margin:auto;
       width:120px;
       height:50px;
       font-family:'Playfair Display', serif;
       color:white;
       text-align:center;
   }
   
}