@media only screen and (max-width: 600px) {
    .layout{
        display:flex;
        width:100%
    }
    .container{
        align-items: center;
        display:flex;
        flex-direction:column;
        height:100%;
        justify-content: center;
        position:relative;
        width:100%;
    }

    .container .header-title{
        align-items: center;
        display:flex;
        flex-direction:column;
        font-family: 'Stencil', 'sans-serif';
        font-size: 3.3rem;
        height:30%;
        justify-content: center;
        position:absolute;
        transition:all 1s ease;
        top:0;
        width:100%
    }

    .container .main-navbar{
        align-items: center;
        background-color:#21345A;
        bottom:0;
        display:flex;
        flex-direction: column;
        height:70%;
        justify-content: flex-start;
        position:absolute;
        width:100%;
    }

    .container .main-navbar .main-item-container{
        align-items:center;
        cursor:pointer;
        display:flex;
        font-family: 'Stencil', 'sans-serif';
        justify-content: space-around;
        transition:all 1s;
        width:100%;
    }

    .container .main-navbar .main-item-container .main-item{
        align-items: baseline;
        color:#BE1010;
        display:flex;
        font-size:2.2rem;
        justify-content: space-around;
        text-decoration: none;
        width:100%;
    }

    .container .main-navbar .active-item{
        position:absolute;
        top:0
    }

    .container .main-navbar .main-item .item-icon {
        margin:0 2px;
    }
    .container .main-navbar  .choice-container{
        background-color:white;
        display:flex;
        flex-wrap: wrap;
        width:100%;
        justify-content: center;
    }
    .container .main-navbar .choice-container .choice-container-item{
        width:15%
    }

}